.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.id-cell {
  font-family: monospace;
  opacity: 0.6;
}

.loader {
  display: block;
  margin: 4rem auto;
}
