:host {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--tui-text-primary);
  background: var(--tui-background-base);
}

.brand {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: black !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
