<nav class="navbar">
  <div class="brand" [routerLink]="['/', getValidRealmName(), 'dashboard']" style="cursor: pointer">GAMMA</div>
  
  <div class="realm-selector" style="margin-left: 20px;" *ngIf="realms.length > 1">
    <button
        tuiButton
        appearance="outline"
        size="s"
        type="button"
        [tuiDropdown]="dropdown"
        [(tuiDropdownOpen)]="open"
        iconRight="@tui.chevron-down"
    >
        {{ currentRealmName }}
    </button>
    <ng-template #dropdown>
        <tui-data-list>
            <button
                *ngFor="let realm of realms"
                tuiOption
                (click)="onRealmChange(realm.name)"
            >
                {{ realm.name }}
            </button>
        </tui-data-list>
    </ng-template>
  </div>

  <div class="links" style="margin-left: auto;">
    <a tuiButton appearance="flat" size="s" [routerLink]="['/', currentRealmName, 'dashboard']" class="nav-link">ASSETS</a>
    <a tuiButton appearance="flat" size="s" [routerLink]="['/', currentRealmName, 'realms']" class="nav-link">REALMS</a>
    <button tuiButton appearance="flat" size="s" (click)="logout()" class="nav-link">LOGOUT</button>
  </div>
</nav>
